@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss" important;
body{
  background-color: #131314;
}
*{
  color: white;
}
@layer utilities {
  .mask-gradient-to-right {
    mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 10%, hsl(0 0% 0% / 1) 90%, hsl(0 0% 0% / 0));
  }

  .text-bodyColor {
    color: rgb(224 235 249);
  }

  .shadow-shadowOne {
    box-shadow: 5px 5px 14px #7f6c99, -9px 13px 44px #ffffff82;
  }

  .font-titleFont {
    font-family: "Montserrat", sans-serif;
  }

  .font-bodyFont {
    font-family: "Poppins", sans-serif;
  }
}
@theme {
  --font-head: "Google Sans, Helvetica Neue, sans-serif"; 
  --font-mini: "Wix Madefor Text", serif;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

