@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss" important;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
  background-color: #0c0c19;
  background-image: url("./imgs/bg.jpg");
  background-size: cover; /* Ensures the background image covers the entire screen */

  
}
*{
  color: white;
}
@layer utilities {
  .mask-gradient-to-right {
    mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 10%, hsl(0 0% 0% / 1) 90%, hsl(0 0% 0% / 0));
  }

  .text-bodyColor {
    color: rgb(224 235 249);
  }

  .shadow-shadowOne {
    box-shadow: 5px 5px 14px #7f6c99, -9px 13px 44px #ffffff82;
  }

  .font-titleFont {
    font-family: "Montserrat", sans-serif;
  }

  .font-bodyFont {
    font-family: "Poppins", sans-serif;
  }
}
@theme {
  --font-head: "Roboto", serif;
  --font-mini: "Wix Madefor Text", serif;
  --font-body: "Outfit", sans-serif;
  --font-title: "Montserrat", sans-serif;
  --font-result: "Roboto", serif;

}
.text-gradient {
  background: linear-gradient(148deg, rgb(145, 215, 255) 0%, rgba(199,0,171,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

.shad{
  box-shadow: -1px -2px 20px #9e9e9e66;
}

.shad-result{
  
    box-shadow: 1px 0px 20px -6px #9ab7ffc4;
    scrollbar-width: none;
    backdrop-filter: blur(7px);
}

.scr-n{
  scrollbar-width: none !important;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #ce9dff; }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #ce9dff;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.dev-pos{
  top: 50%;
    position: absolute;
    transform: translate(-50px, -50px);
    left: 43%;

}

.bg-blur{
  backdrop-filter: blur(10px);
}

@layer components {
  .bannerIcon {
    @apply w-10 h-10 bg-[#a376dfba]  text-black text-xl inline-flex items-center justify-center rounded-md  hover:-translate-y-1 transition-all  cursor-pointer duration-300 ;
  }}

  .shadow-s1{
    box-shadow: 1px 1px 5px 0px #8f2fd0;
    border: 1px solid #9999ff;  }